.header{
    color: black;
    font-size: 25px;
    box-shadow: 5px 5px 5px rgb(83, 148, 96);
}
.header:hover{
    width: 220px;
}
body{
    background-size: cover;
    background-position: center;
}

a {
    font-size: 20px;
    background-color:aqua;
    border-radius: 10px;
    width: 300px;
    margin-top: 15px;
}

a:hover {
    font-size: 25px;
    text-decoration: underline;
}